rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    
    match /users/{userId}/{document=**} {
    	allow read;
      allow write: if isOwner(userId);
    }
    
    // functions
    
    function isOwner(userId) {
    	return request.auth.uid == userId;
    }
  }
}